.cardContainer {
  background-color: var(--card-background);
  padding: 18px 25px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .rating {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
