.h1 {
  font-size: 50px;
}

.h2 {
  font-size: 25px;
}

.h3 {
  font-size: 20px;
}

.body1 {
  font-size: 12px;
}

.body2 {
  font-size: 11px;
}

.white {
  color: var(--white);
}

.primary {
  color: var(--color-text-primary);
}


.secondary {
  color: var(--color-text-secondary);
}

.green {
  color: var(--lime-green);
}

.red {
  color: var(--right-red);
}

.bold {
  font-weight: 700;
}

.light {
  font-weight: 400;
}